
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

input[type=text], textarea , input[type=email]  {
  width: 100%;
  padding: 12px;
  background-color: #dcdcdc;
  color: rgb(7, 7, 7);
  border: 1px solid #6d6d6d;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  outline: rgb(131, 85, 0);
}
form{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: bold;
}
.Username{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.phone{
  display: flex;
  align-items: center;
  background-color: #dcdcdc;
  color: rgb(7, 7, 7);
  border-radius: 4px;
  box-sizing: border-box;
 height: 41px;
 margin-top: 6px;
 margin-bottom: 6px;
}
input[type=tel]{
    width: 87%;
    padding: 12px 10px 12px 10px;
    background-color: #dcdcdc;
    color: rgb(7, 7, 7);
    border: none;
    outline: none;
    border-radius: 4px;
    box-sizing: border-box;
  resize: vertical;
}
#country{
    width: 10%;
    padding: 12px 2px 12px 3px;
    background-color: #dcdcdc;
    color: rgb(7, 7, 7);
    border: none;
    outline: none;
    border-radius: 4px;
  resize: vertical;
}
.submit-cont{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.submit img{
  width: 20px;
  height: 20px;
}
.submit {
  background-color:#0f343c;
  color: white;
  padding: 12px 20px;
  border: none;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 400px;
}

.submit:hover {
  background-color:  #0087a2;
}

.container {
  border-radius: 5px;
  background-color: #808080;
  padding: 20px;
  width: 30%;
}
.container h3{
    text-align: center;
    font-size: 30px;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}